
body {
  width: 640px;
  margin: 0 auto;
}
/*   
.container img {
  position: relative;
  
  width: 50%; 
  height: 50%;
  object-fit: contain;
} */


  img{
    position: fixed;
    left: 35%;
    top: 15px;
    object-fit: contain;
    border: 1mm solid black;
   
  }
  p {
   position: fixed;
   bottom: 0;
   left: 5px;
}

.red{
  color: red;
  position: fixed;
  bottom: 20px;
}


 

  .move{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 200%;
    font-family: fantasy;
    
 
  }
  .move input{
    position: relative;
    width: 400px;
    height: 50px;
    font-size: 100%;
    border: 1mm solid darkgoldenrod;
  }

  .search{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    transform: translate(-50%, -50%);
    top: 79%;
    left: 50%;
    transition: all 0.5s;
    font-family: fantasy;
    font-size: 120%;
    margin: 5px;
    border-radius: 5%;
    border: 1mm solid white;
    cursor: pointer;
  }
  .search:hover{
   
 
    border-radius: 5%;
    
   
    border: 1mm solid darkgoldenrod;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-color: #c9bd95;
  }
  
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ebebeb;
  }
  
  .quotes {
    padding: 20px 50px;
    min-height: 200px;
  }
  
