html, body{
    height: 100%;
    margin: 0;
    background-color: lightgreen;
}

body{

    margin: 10vw 25vw;
    justify-content: center;
    align-items: center;
    
}
article{
    display: flex;
    flex-direction: row;
    align-self: center;
    
    margin-top: 3vw;
    justify-content: left;
    width: 50vw;
    background-color: rgb(0, 0, 0, .5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 40px black;
    border-radius: 10%;
    overflow: hidden;
    padding: 2vw;
   
}
.buttons{
    
     background-color: grey;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1), inset 0 0 40px rgb(49, 48, 48);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 7vw;
    height: 15vw;
    margin-left: 42vw;
    margin-top: 7vw;
    padding: 2mm;
    border-radius: 15%;
    border: 1mm solid black;

    

}
#Start{
    
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 1mm solid black;
    width: 100%;
    height:4.5vw;
    font-size: 150%;
    border-radius: 15%;
     background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1), inset 0 0 40px rgb(49, 48, 48);
}


#Reset{
    border: 1mm solid black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 150%;
       width: 100%;
    height:4.5vw;
    border-radius: 15%;
     background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1), inset 0 0 40px rgb(49, 48, 48);
}

#Submit{
    border: 1mm solid black;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 150%;
       width: 100%;
    height:4.5vw;
    border-radius: 15%;
     background-color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(0, 0, 0, 1), inset 0 0 40px rgb(49, 48, 48);
}
#Start:hover{
    transition: all 0.5s;
    border: 1mm solid black;
    background-color: rgb(159, 143, 143);
    color: black;
}
#Submit:hover{
    transition: all 0.5s;
    border: 1mm solid black;
    background-color: rgb(159, 143, 143);
    color: black;
}
#Reset:hover{
    transition: all 0.5s;
    border: 1mm solid black;
    background-color: rgb(159, 143, 143);
    color: black;
}




#gameCanvas{
    
    display: flex;
    margin: 10px;
    
    justify-content: center;
    
    border-radius: 10%;
    background-color: rgb(151, 168, 152);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 40px black;
    
    
    /* max-width:  400px;
    width: 100%;
    max-height: 500px;
    height: 100%; */

}
#gameScreen{
    position: absolute;
        display: flex;
        text-align: center;
        line-height: 500px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 200%;
    margin: 10px;
    
    justify-content: center;
    width: 500px;
    height: 500px;
    border-radius: 10%;
    /* background-color: rgba(8, 212, 32, 0.5); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 40px black;
    

}
.meterContainer
{
    margin-left: 1vw;
    margin-top: 1vw;
  
    position: relative;
    align-items: center;
    justify-content: center;
    
    background-color: grey;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5), inset 0 0 20px black;
    
   border: 1mm solid black;

   
    border-radius: 15%;
    
    width: 5vw;
    height: 20vw;
    
    max-width: 100%;
     transform: rotate(180deg);
     
     
    
    

}
.meterContainer #meter{
    width: 100%;
    height: 0%;
    background-color: rgba(173, 32, 32, 0.5);
     border-radius: 20%;
    
   
    
   
}
#powerButton{
   
    position: absolute;
   color: rgb(0, 0, 0);
    margin-left: 32.75vw;
    margin-top: 20vw;
    width: 7vw;
    height: 5vw;
    /* border-top-width: 3mm solid black; */
    /* transform: rotate(180deg); */
    background: red;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

    border: 0.5mm solid black;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 40px black;
    border-radius: 30%;
    font-size: 130%;
    
   

}
#charging{
    visibility: hidden;
        position: absolute;
   color: rgb(0, 0, 0);
    margin-left: 32.75vw;
    margin-top: 20vw;
     width: 7vw;
    height: 5vw;
    text-align: center;
    line-height: 5vw;
    font-size: 100%;
    
    /* border-top-width: 3mm solid black; */
    /* transform: rotate(180deg); */
    background: orange;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    

    border: 0.5mm solid black;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), inset 0 0 40px black;
    border-radius: 30%;
    font-size: 100%;
    color: black
    

}
#powerButton:hover{
    transition: all 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1), inset 0 0 40px black;
    border-radius: 30%;
    border: 1mm solid black;
    color: white;
}
#Fire{
    position: absolute;
    width: 6vw;
    height: 6vw;
    margin-left: 33.3vw;
    margin-top: 26vw;
    border-radius: 50%;
    color: rgb(79, 71, 71);
    font-size: 150%;
    background-color: black;
    
      font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
#Fire:hover{
    transition: all 0.5s;
    color: rgb(119, 110, 110);
    

}




#container {
  position: relative;
  overflow: hidden;

}
.line{
    position: absolute;
    width: 5px;
    height: 700px;
    left: 50%;
    bottom: -70%;
   
    transform: rotate(90deg);
    border: 1mm dashed rgb(141, 91, 91);
   
    
}



.number{
    position: absolute;
   
       width: 80px;
    height: 90px;
    display: flex;
  top: 110px;
    font-size: 200%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    transform: rotate(180deg);
    margin-bottom: 100px;

}
.phoneNum{
    background-color: green;
    background-color: rgb(0, 0, 0, .5);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.5), inset 0 0 10px black;
    position: absolute;
    top: 5%;
    right: 35%;
    width: 27vw;
    height: 5vw;
    display: flex;
    line-height: 30px;
    border: 1mm solid black;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 15%;
    font-size: 200%;
    text-align: center;
    justify-content: center;
    align-items: center;

}


