h1 {
  font-family: fantasy;
  font-size: 300%;
  text-align: center;
  font-style: italic;
  
}

body {
  width: 640px;
  margin: 0 auto;
}

.full-img {
  position: relative;
  display: block;
  top: 200px;
 
  transition: all, 0.5s;
  border: 1mm solid black;
  overflow: hidden;
  
}
img{
  width: 100%;
  
}
.full-img:hover{
  
  border:3mm solid orange;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 1000px;
  transition: all, 0.5s;
  overflow: hidden;
  
  

  background-color: rgba(0,0,0,0);
}
.overlay:hover{
  border-color:red;
}




button {

  background: orange;
  
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  margin: 5px;
  border: 1mm solid orange;
  width: 13%;
  transition: all, 0.5s;
  float: left;
  cursor: pointer;
}
.thumb-bar img:hover{
  border: 2mm solid black;
}