html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background-color: aquamarine;
     font-family: "Orbitron", sans-serif;
}





h1{
    
    border-bottom: 5mm solid black;
    text-align:  center;
    font-size: 300%;
    padding-bottom: 0.5em;
}
h2{
    text-align:  center;
    font-size: 150%;
    
    
}
nav{
   position: sticky;
    top: 0;
    padding: 0.25em;
    background-color: orange;
    border: 1mm solid black;
    
    height: 20%;
  

}
nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  
}
nav li{
      border: 0.5mm solid rgb(32, 10, 10);
    color: black;
    text-align: center;
    text-decoration: none;

    padding: .5em 2em;
    margin: .025em 0.025em;
    font-size: 90%;
    flex-wrap: wrap;
    transition-property: background-color;
    transition-duration: 0.25s;
    
}
nav a{
  
}li:hover{
    background-color: red;
}

.infoBox{
    
    
    border: 1mm solid orange;
    background-color: black;
    color: white;
    height: 75px;
    transition: all 0.5s;
    font-size: 150%;
    padding-bottom: 10px;
    overflow: hidden;
    margin: 50px;
    border-radius: 25%;
    
     
    
    /* display: inline-block; */
}
.infoBox:hover{
    border-color: black;
    height: 400px;
    color: black;
    background-color: orange;
   
     border-radius: 0%;
    
}


h3{

    text-align: center;
    
}


p{
    font-size: 50%;
    padding-left: 10px;
}

.green{
    color: black;
    border-bottom: 2mm solid black;
}
 .center{
    text-align: center;
    font-size: 60%;
    color: black;
}
@media screen and (max-width: 600px){
    h3{
        font-size: 100%;
    }
}


@media screen and (max-width: 400px){
    h3{
        font-size: 70%;
    }

}
