html{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    background-color: aquamarine;
     font-family: "Orbitron", sans-serif;
     padding: 0;
     margin: 0;
     
}





h1{
    
    border-bottom: 5mm solid black;
   
    margin: 10px;
    text-align:  center;
    font-size: 500%;
    text-shadow: 5px 5px 5px orange;
   

   

    padding-bottom: 0.5em;
}
h2{
    text-align:  center;
    font-size: 150%;
   
    
    
}
nav{
   position: sticky;
    top: 0;
    
    box-shadow: 10px 10px 10px black;
    padding: .5em;
    background-color: rgb(38, 32, 32);
    border: 1mm solid orange;
    border-radius: 15%;
    
    text-align: center;
    height: 70%;
     margin: 0 auto;
    transition: all 0.5s;
  

}
nav:hover{
     background-color: darkorange;
     border-color: black;
}
nav ul {
     justify-content: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

nav li{
      border: 0.5mm solid rgb(32, 10, 10);
    color: black;
    background-color: orange;
    border-radius: 25%;
    text-align: center;
    text-decoration: none;
    list-style:none;
    padding: .75em 2em;
    margin: .3em 0.025em;
    font-size: 90%;
    flex-wrap: wrap;
    
    transition: all 0.5s;
     display: inline-block;
    
}
a{
    text-decoration: none;
    color: black;
    padding: 0px;
    transition: all 0.5s;
    scroll-margin-top: 50px;
}
a:visited{
    text-decoration: none;
    color: black;
    
    
  
}li:hover{
    background-color: rgb(60, 57, 57);
}
a:hover{
    color: white;
}
.anchor{
  display: block;
  height: 65px; /*same height as header*/
  margin-top: -115px; /*same height as header*/
  visibility: hidden;
}

.infoBox{
    
    box-shadow: 10px 10px 10px black;
    border: 1mm solid orange;
    background-color: black;
    color: white;
    height: 100px;
    transition: all 0.5s;
    font-size: 225%;
    padding-bottom: 10px;
    overflow: hidden;
    margin: 75px;
    border-radius: 25%;
    scroll-margin-top: 50px;
    padding: 15px;
   
   
    
    /* display: inline-block; */
}
/* .infoBox:hover{
    border-color: black;
    height: 400px;
    color: black;
    background-color: orange;
   
     border-radius: 0%;
    
} */


h3{

    text-align: center;
    font-size: 95%;
    
}


p{
    font-size: 50%;
    padding-left: 10px;
}


.date{
     color: rgb(207, 252, 7);
    
    font-weight: bold;
    font-size: 50%;
    

}
.con{
    color: rgb(212, 60, 60);
    
    font-weight: bold;
    font-size: 50%;
    


}
#concert1{
    scroll-margin-top: 100px;

}
.rep{
    color: rgb(61, 105, 22);
    font-weight: bold;
    
    font-size: 50%;
    

}
.location{
    color: rgb(91, 91, 230);
    font-weight: bold;
   font-size: 50%;
    
  
}
.blue{
    color: blue;
  }  
 .center{
    
    text-align: center;
    font-size: 60%;
    font-family: Raleway;
    font-style: italic;
    color: black;
}
@media screen and (min-width: 1001px){
    .infoBox:hover{
    border-color: black;
    height: 600px;
    color: black;
    background-color: orange;
    overflow: auto;
    border-radius: 10%;  
    }
   .rep{
    text-align: center;
   }
     .date{
    text-align: center;
   }
     .con{
    text-align: center;
   }
     .location{
    text-align: center;
   }
}

@media screen and (max-width: 1000px)
{
    .infoBox{
        border: 1mm solid black;
        background-color: orange;
        color: black;
        height: 400px;
        overflow: auto;
        transition: all 0.5s;
        font-size: 150%;
        padding-bottom: 10px;
            
        margin: 50px;
        border-radius: 5%;
    }
      .rep{
    text-align: center;
    }    
     .date{
    text-align: center;
    }
     .con{
    text-align: center;
    }
     .location{
    text-align: center;
    }
        
    h3{
        font-size: 65%;
    }
    h1{
        font-size: 300%;
    }
   nav li{
    font-size: 60%;
   }
}


@media screen and (max-width: 400px){
   .infoBox{
    
   
        border: 1mm solid black;
        background-color: orange;
        color: black;
        height: 400px;
       overflow: auto;
        transition: all 0.5s;
        font-size: 150%;
        padding-bottom: 10px;
        
        margin: 50px;
        border-radius: 5%;
      
   }
   .rep{
    text-align: center;
   }
     .date{
    text-align: center;
   }
     .con{
    text-align: center;
   }
     .location{
    text-align: center;
   }
   .nav .li{
    font-size: 25%;
   }
   h1{
    font-size: 200%;
   }
        
     
    
    /* display: inline-block; */

    h3{
       
        font-size: 100%;
        color: black;
      
    }

}
footer{
    font-size: 400%;
    text-align: center;
    font-weight: bold;
    padding-bottom: 50px;
}
